.heading {
    text-align: left;
    padding: 10px 10px 10px 10px;
    // font-weight: bold;
}


.create {
    float: right;
    font-size: 15px;
    padding-bottom: 20px;
}

.textBox {
    margin-left: 100px;
}

