.fontStyle {
    color: rgb(119, 122, 126);
    font-size: 32px;
    // font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;

}

.mainStyle {
    color: rgb(119, 122, 126);
    font-size: 60px;
    padding-bottom: 20px;
    // font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.banner {
    padding-left: 70px;
    width: 650px;
    
}

.bgHome {
    background-color: #9599E2;
    background-image: linear-gradient(0deg, #9599E2 0%, #8BC6EC 27%, #ffffff 100%);
    background-attachment: fixed;

}